@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    url(./fonts/Pretendard/woff2-subset/Pretendard-Black.subset.woff2) format('woff2'),
    url(./fonts/Pretendard/woff-subset/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    url(./fonts/Pretendard/woff2-subset/Pretendard-Bold.subset.woff2) format('woff2'),
    url(./fonts/Pretendard/woff-subset/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    url(./fonts/Pretendard/woff2-subset/Pretendard-Medium.subset.woff2) format('woff2'),
    url(./fonts/Pretendard/woff-subset/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    url(./fonts/Pretendard/woff2-subset/Pretendard-Regular.subset.woff2) format('woff2'),
    url(./fonts/Pretendard/woff-subset/Pretendard-Regular.subset.woff) format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard;
  min-height: 100vh;
  width: 100%;
  /* padding-top: 48px; */

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

/* 스크롤바 숨기기 유틸리티 */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
